body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 50px
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  margin: auto;
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:hover{
  background-color: plum;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.botao {
  text-shadow: 0px 2px 2px #999;
  text-align: center;
  background-color: #fff;

  width: 80%;
  padding: 2px;
  color: black;
  display:block;
  border: 1px solid #999;
}

.botao:hover {
  background-color: plum;
}

.game {
  padding: 10px;
  width: 310px;
  height: 350px;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: plum;
  box-shadow:-1px 4px 20px #999;
}
.status-game{
  border: 1px solid #999;
  color: black;
  padding: 3px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #999;
}

.vencedor{
  border: 1px solid #999;
  color: black;
  padding: 3px;
  background-color: plum;
  box-shadow: 0px 0px 10px #999;
}

.game-info {
  box-shadow: 0px 2px 10px #999;
  text-align: center;
  padding: 5px;
  margin: 2px auto;
  background-color: #fff;
}
.game-info ol {
  width: 130px;
  position: relative;
  margin: 20px auto;
  list-style-type: none;
  text-align: center;
}
